.az-page__fullscreen-section {
	height: 100vh;
	min-height: 600px;
}
@media only screen and (max-width: 1200px) {
	.az-page__fullscreen-section {
		height: auto;
		min-height: 0;
	}
}

.az-header__logo {
	display: none;
}

.az-fullscreen-section {
}

.az-fullscreen-section-block {
	height: 100%;
}

.az-fullscreen-section-block__bg-block {
	height: 100%;
	min-height: 500rem;
	background: url(../../img/5.jpg) 55% 0 / cover;
}

.az-logo {
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
.az-fullscreen-section-block__logo {
	padding-left: 20%;
	padding-top: 28px;
}

.az-fullscreen-section-block__content-block {
	height: 100%;
	background-color: #f0e2d7;
}

.az-intro-block {
	display: flex;
	flex-direction: column;
}

.az-header {
	
}

.az-intro-block__header {
	padding: 35px 43px;
	flex-shrink: none;
}
@media only screen and (max-width: 1200px) {
	.az-intro-block__header {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		background-color: #f0e2d7;
		box-shadow: 0 1.5px 5px rgba(0,0,0,.2);
		z-index: 999;
	}
}
@media only screen and (max-width: 992px) {
	.az-intro-block__header {
		padding: 20px 15px;
	}
}

.az-header__menu {
	display: flex;
	padding: 0 55px;
}

.az-header__menu-toggle-input {
	display: none;
}
.az-header__menu-toggle {
	display: none;
}

@media only screen and (max-width: 768px) {
	.az-header__menu {
		justify-content: center;
		padding: 0 15px;
	}
}

.az-header__menu-item-title {
	display: none;
}

.az-header__menu-item:not(:last-of-type) {
	margin-right: 25px;
}

.az-header__menu-item-soc {
	display: none;
}

.az-header__menu-link {
	font-weight: 500;
	color: #2b2c27;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	transition: color .15s;
}
.az-header__menu-link:hover {
	color: #e4ae58;
	color: #e4ae58;;
}


@media only screen and (max-width: 480px) {
	.az-intro-block__header {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-top: 8px;
		padding-bottom: 8px;
		padding-left: calc(83rem - 40px);
	}

	.az-header__logo {
		display: block;
		margin-right: 10px;
	}

	.az-header__menu {
		position: absolute;
		left: -260px;
		top: 0;
		display: block;
		width: 260px;
		height: 100vh;
		padding: 0;
		background-color: #161616;
		overflow-x: hidden;
		transition: .4s ease;
	}

	.az-header__menu-item-title {
		display: block;
		font-size: 34px;
		font-weight: 400;
		padding: 0px;
		line-height: 1.6;
		text-align: center;
		color: #fff;
	}

	.az-header__menu-item:not(:last-of-type) {
		margin-right: 0;
	}
	.az-header__menu-item:last-of-type .az-header__menu-link {
		border-bottom: none;
	}

	.az-header__menu-item-soc {
		display: flex;
		justify-content: space-between;
		padding: 30px;
	}

	.az-header__menu-item-soc-link {
		color: #e4ae58;
		text-decoration: none;
	}
	.az-header__menu-item-soc-link:before {
		font-family: FontAwesome;
		font-size: 20px;
	}
	.az-header__menu-item-soc-link_twitter:before {
		content: "\f099";
	}
	.az-header__menu-item-soc-link_facebook:before {
		content: "\f09a";
	}
	.az-header__menu-item-soc-link_vk:before {
		content: "\f189";
	}
	.az-header__menu-item-soc-link_instagram:before {
		content: "\f16d";
	}

	.az-header__menu-link {
		display: block;
		padding: 10px;
		color: #fff;
		border-bottom: 1px solid #9e9391;
	}

	.az-header__menu-toggle {
		position: relative;
		display: block;
		width: 35px;
		height: 18px;
		transition: .4s ease;
		z-index: 1000;
	}

	.az-header__menu-toggle-bar {
		position: absolute;
		display: block;
		width: 100%;
		height: 1.5px;
		background-color: #2b2c27;
		transition: .4s ease;
	}
	.az-header__menu-toggle-bar:first-child {
		top: 0;
		left: 0;
	}
	.az-header__menu-toggle-bar:nth-child(2) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.az-header__menu-toggle-bar:last-child {
		bottom: 0;
		left: 0;
	}

	
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar {
		background-color: #fff;
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar:first-child {
		top: calc(50% - 0.75px);
		transform: rotate(-135deg);
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar:nth-child(2) {
		width: 0;
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar:last-child {
		bottom: calc(50% - 0.75px);
		transform: rotate(135deg);
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu {
		left: 0;
	}
}

.az-intro-block__start-block {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-top: 40px;
}
@media only screen and (max-width: 1200px) {
	.az-intro-block__start-block {
		margin-top: 120rem;
	}
}

.az-intro-block__start-block-content {
	padding: 0 calc(83rem - 40px) 95rem;
}

.az-intro-block__start-block-secondary-title {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}


.az-intro-block__start-block-content-paragraph {
	margin-top: 20px;
	font-weight: 500;
}

.az-intro-block__start-block-content-button {
	display: inline-block;
	margin-top: 50px;
	padding: 10px 35px;
	border: 3px solid #2b2c27;
	border-radius: 999px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.5px;
	color: #2b2c27;
	transition: .3s;
}
.az-intro-block__start-block-content-button:hover {
	color: #e4ae58;
	background-color: #2b2c27;
}
@media only screen and (max-width: 480px) {
	.az-intro-block__start-block-content-button {
		margin-top: 40px;
	}
}
@media only screen and (max-width: 320px) {
	.az-intro-block__start-block-content-button {
		margin-top: 30px;
	}
}


.az-fix-anch-wrapper {
}
@media only screen and (max-width: 1200px) {
	.az-fix-anch-wrapper {
		padding-top: 68px;
		margin-top: -68px;
	}
}
@media only screen and (max-width: 480px) {
	.az-fix-anch-wrapper {
		padding-top: 54px;
		margin-top: -54px;
	}
}