.az-footer__content {
	padding: calc(300rem - 160px) 35rem;
	text-align: center;
}

.az-footer__copyright {
	margin-bottom: 50rem;
	color: #9e9391;
}
.az-footer__copyright-link {
	color: #e9714c;
	text-decoration: none;
}

.az-footer__soc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.az-footer__soc-item:not(:last-child) {
	margin-right: 45rem;
}

.az-footer__soc-link {
	color: #9e9391;
	text-decoration: none;
	transition: color .15s;
}
.az-footer__soc-link:hover {
	color: #e4ae58;
}
.az-footer__soc-link:before {
	font-family: FontAwesome;
	font-size: 18px;
}
.az-footer__soc-link_facebook:before {
	content: "\f09a";
}
.az-footer__soc-link_twitter:before {
	content: "\f099";
}
.az-footer__soc-link_google:before {
	content: "\f0d5";
}
.az-footer__soc-link_drible:before {
	content: "\f17d";
}
.az-footer__soc-link_linkedin:before {
	content: "\f0e1";
}