html {
	scroll-behavior: smooth;
}

*::selection {
	background-color: #e4ae58;
	background-color: #e4ae58;
	color: #fff;
}

.az-page {
	font-family: SourceSansPro;
	line-height: 1.75;
	font-size: 16px;
	font-weight: 500;
	color: #2b2c27;
	scroll-behavior: smooth;
}

.az-page__main-content {
	position: relative;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;
}


/***********************FIRSTSCREEN SECTION*************************/

.az-main-page__fullscreen-section {
	height: 100vh;
	min-height: 660px;
}
@media only screen and (max-width: 1200px) {
	.az-main-page__fullscreen-section {
		height: auto;
		min-height: 0;
	}
}

.az-fullscreen-section__bg-block {
	height: 100%;
	background: url(../img/5.jpg) -200px 0 / 80%;
	background-attachment: fixed;
}
@media only screen and (max-width: 1200px) {
	.az-fullscreen-section__bg-block {
		height: 60rem;
		line-height: 60rem;
		background: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),
	                url(../img/5.jpg) center / cover;
	}
}

.az-fullscreen-section__bg-block-title {
	padding-left: 170px;
	padding-top: 28px;
	font-size: 22px;
	font-weight: bold;
	text-shadow: 1px 1px 0 #fff;
}
@media only screen and (max-width: 1200px) {
	.az-fullscreen-section__bg-block-title {
		padding-top: 0;
		padding-left: 0;
		text-align: center;
	}
}


.az-fullscreen-section__content-block {
	height: 100%;
	background-color: #f0e2d7;
}

.az-intro-block {
	display: flex;
	flex-direction: column;
}

.az-header {
	
}

.az-intro-block__header {
	padding: 35px 43px;
	flex-shrink: none;
}
@media only screen and (max-width: 992px){
	.az-intro-block__header {
		padding: 20px 15px;
	}
}

.az-header__menu {
	display: flex;
	padding: 0 55px;
}

.az-header__menu-toggle-input {
	display: none;
}
.az-header__menu-toggle {
	display: none;
}

@media only screen and (max-width: 768px) {
	.az-header__menu {
		justify-content: center;
		padding: 0 15px;
	}
}

.az-header__menu-item-title {
	display: none;
}

.az-header__menu-item:not(:last-of-type) {
	margin-right: 25px;
}

.az-header__menu-item-soc {
	display: none;
}

.az-header__menu-link {
	font-weight: 500;
	color: #2b2c27;
	text-transform: uppercase;
	text-decoration: none;
	white-space: nowrap;
	transition: color .15s;
}
.az-header__menu-link:hover {
	color: #e4ae58;
	color: #e4ae58;;
}


@media only screen and (max-width: 480px) {
	.az-intro-block__header {
		position: relative;
		padding-left: calc(83rem - 40px);
	}

	.az-header__menu {
		position: absolute;
		left: -260px;
		top: 0;
		display: block;
		width: 260px;
		min-height: calc(100vh - 60rem);
		padding: 0;
		background-color: #161616;
		transition: .4s ease;
	}

	.az-header__menu-item-title {
		display: block;
		font-size: 40px;
		font-weight: 500;
		padding: 10px;
		color: #fff;
	}

	.az-header__menu-item:not(:last-of-type) {
		margin-right: 0;
	}
	.az-header__menu-item:last-of-type .az-header__menu-link {
		border-bottom: none;
	}

	.az-header__menu-item-soc {
		display: flex;
		justify-content: space-between;
		padding: 30px;
	}

	.az-header__menu-item-soc-link {
		color: #e4ae58;
		text-decoration: none;
	}
	.az-header__menu-item-soc-link:before {
		font-family: FontAwesome;
		font-size: 20px;
	}
	.az-header__menu-item-soc-link_twitter:before {
		content: "\f099";
	}
	.az-header__menu-item-soc-link_facebook:before {
		content: "\f09a";
	}
	.az-header__menu-item-soc-link_vk:before {
		content: "\f189";
	}
	.az-header__menu-item-soc-link_instagram:before {
		content: "\f16d";
	}

	.az-header__menu-link {
		display: block;
		padding: 10px;
		color: #fff;
		border-bottom: 1px solid #9e9391;
	}

	.az-header__menu-toggle {
		position: relative;
		display: block;
		width: 35px;
		height: 18px;
		transition: .4s ease;
	}

	.az-header__menu-toggle-bar {
		position: absolute;
		display: block;
		width: 100%;
		height: 2px;
		background-color: #2b2c27;
		transition: .4s ease;
	}
	.az-header__menu-toggle-bar:first-child {
		top: 0;
		left: 0;
	}
	.az-header__menu-toggle-bar:nth-child(2) {
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
	}
	.az-header__menu-toggle-bar:last-child {
		bottom: 0;
		left: 0;
	}


	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar:first-child {
		top: calc(50% - 1px);
		transform: rotate(-135deg);
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar:nth-child(2) {
		width: 0;
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle .az-header__menu-toggle-bar:last-child {
		bottom: calc(50% - 1px);
		transform: rotate(135deg);
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu {
		left: 0;
	}
	.az-header__menu-toggle-input:checked ~ .az-header__menu-toggle {
		transform: translateX(254px);
	}
}

.az-intro-block__start-block {
	display: flex;
	align-items: center;
	flex-grow: 1;
	margin-top: 40px;
}

.az-intro-block__start-block-content {
	padding: 0 calc(83rem - 40px) 95rem;
}

.az-intro-block__start-block-secondary-title {
	margin-bottom: 20px;
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
}

.az-text_dim {
	color: #9e9391;
}

.az-main-title {
	font-size: 44rem;
	font-weight: 400;
	line-height: 1.2;
}
.az-main-title_light {
	color: #fff;
}

.az-main-title__highlight {
	font-weight: 500;
}

.az-intro-block__start-block-content-paragraph {
	margin-top: 20px;
	font-weight: 500;
}

.az-intro-block__start-block-content-button {
	display: inline-block;
	margin-top: 50px;
	padding: 10px 35px;
	border: 3px solid #2b2c27;
	border-radius: 999px;
	font-size: 14px;
	font-weight: 700;
	text-transform: uppercase;
	text-decoration: none;
	letter-spacing: 1.5px;
	color: #2b2c27;
	transition: .3s;
}
.az-intro-block__start-block-content-button:hover {
	color: #e4ae58;
	background-color: #2b2c27;
}


/***********************ABOUT SECTION*************************/

.az-about-section {

}

.az-content-block {
	height: 100%;
	padding: 43px 35rem 55px;
}

.az-about-section__descr-block {

}

.az-content-block__subtitle {
	margin: 15px 0 30px;
}

.az-about-section__descr-block-paragraph {
	margin-top: 15px;
}


.az-about-section__bg-block {
	min-height: 300rem;
	background: url(../img/1.jpg) 160px 0 / cover;
	background-attachment: fixed;
}
@media only screen and (max-width: 1200px) {
	.az-about-section__bg-block {
		background-position: -500px 0;
	}
}

.az-about-section__skills-progress-block {
	background-color: #e4ae58;
}

.az-about-section__skill-progress-descr {
	display: flex;
	justify-content: space-between;
	margin-top: 16px;
	font-size: 14px;
	font-weight: 700;
}

.az-text_dark {
	color: #161616;
}
.az-text_light {
	color: #fff;
}
.az-text_bright {
	color: #e9714c;
}
.az-text_accent {
	color: #e4ae58;
}

.az-about-section__skill-progress-bar {
	height: 3px;
	margin-top: 5px;
}
.az-about-section__skill-progress-bar_fd {
	background: linear-gradient(to right, #161616 90%, #fff 90%);
}
.az-about-section__skill-progress-bar_bp {
	background: linear-gradient(to right, #161616 70%, #fff 70%);
}
.az-about-section__skill-progress-bar_hc {
	background: linear-gradient(to right, #161616 80%, #fff 80%);
}

.az-content-block_theme-bright {
	background-color: #e9714c;
	color: #fff;
}
.az-content-block_theme-dark {
	background-color: #161616;
	color: #fff;
}
.az-content-block_theme-accent {
	background-color: #e4ae58;
	color: #fff;
}

@media only screen and (max-width: 768px) {
	.az-row__col-md-half_order-md-1 {
		order: 1;
	}
}

.az-about-section__skill-block {
	text-align: center;
}

.az-about-section__skill-block-icon {
	font-family: FontAwesome;
	font-size: 40px;
	line-height: 1;
}
.az-about-section__skill-block-icon_monitor:before {
	content: "\f108";
}
.az-about-section__skill-block-icon_send:before {
	content: "\f1d8";
}
.az-about-section__skill-block-icon_table:before {
	content: "\f0ce";
}
.az-about-section__skill-block-icon_code:before {
	content: "\f13b";
}

.az-about-section__skill-block-title {
	margin: 30px 0 10px;
	font-size: 28px;
	font-weight: 400;
}

.az-about-section__skill-block-descr {
	margin: 0 auto;
	max-width: 270px;
}


/**************************EXPERIENCE SECTION***************************/

.az-experience-section__bg-block_first {
	background: url(../img/4.jpg) 0 0 / cover;
}

.az-experience-section__bg-block_second {
	background: url(../img/3.jpg) right 0 / cover;
}

.az-experience-section__bg-block {
	background-attachment: fixed;
	min-height: 300rem;
}

.az-experience-section__content-block-item {
	display: flex;
	margin-top: 24px;
}

.az-experience-section__content-block-item-icon {
	margin-right: 20px;
}
.az-experience-section__content-block-item-icon:before {
	content: "\f109";
	font-family: FontAwesome;
	font-size: 40px;
	line-height: .9;
}
@media only screen and (max-width: 576px) {
	.az-experience-section__content-block-item-icon {
		display: none;
	}
}

.az-experience-section__content-block-item-title {
	font-size: 28px;
	font-weight: 400;
	line-height: 1;
}

.az-experience-section__content-block-item-title-highlight {
	font-size: 20px;
	font-weight: 700;
	color: #161616;
	opacity: 0.45;
}

.az-experience-section__content-block-item-descr {
	margin-top: 10px;
}


/**************************TESTIMONIAL SECTION***************************/

.az-testimonial-section__wrapper {
	padding: 130rem 35rem 110rem;
	background: linear-gradient(rgba(0,0,0,.65), rgba(0,0,0,.65)), url(../img/6.jpg) center / cover;
	background-attachment: fixed;
}

.az-testimonial-section__content {
	max-width: 870px;
	margin: 0 auto;
	text-align: center;
}

.az-testimonial-section__icon {
	margin-bottom: 25px;
}
.az-testimonial-section__icon:before {
	content: "\f005";
	font-family: FontAwesome;
	font-size: 47px;
	line-height: 1;
}

.az-testimonial-section__paragraph {
	margin-top: 50px;
}


/**************************CONTACT SECTION***************************/

.az-contact-section__form {
	margin-top: 40px;
}

.az-contact-form__input-block {
	position: relative;
	margin-bottom: 30rem;
}

.az-contact-form__input-placeholder {
	position: absolute;
	top: 0;
	left: 12px;
	line-height: 44px;
	font-size: 17px;
	font-weight: 500;
	color: #fff;
	pointer-events: none;
	transition: .3s;
}

.az-contact-form__input {
	display: block;
	width: 100%;
	height: 44px;
	line-height: 44px;
	padding-left: 12px;
	border: none;
	border-bottom: 1.5px solid #fff;
	font-family: SourceSansPro, sans-serif;
	font-size: 17px;
	color: #fff;
	background-color: transparent;
	outline: none;
	transition: .3s;
}
.az-contact-form__input:focus {
	border-bottom-color: #e4ae58;
	box-shadow: 0 2px 2px -2px #e4ae58;
}

.az-contact-form__textarea {
	display: block;
	width: 100%;
	padding-left: 12px;
	border: none;
	border-bottom: 1.5px solid #fff;
	font-family: SourceSansPro, sans-serif;
	font-size: 17px;
	line-height: 44px;
	color: #fff;
	background-color: transparent;
	outline: none;
	resize: vertical;
	transition: .3s;
}
.az-contact-form__textarea:focus {
	border-bottom-color: #e4ae58;
	box-shadow: 0 2px 2px -2px #e4ae58;
}

.az-contact-form__textarea:focus + .az-contact-form__input-placeholder, .az-contact-form__input:focus + .az-contact-form__input-placeholder {
	color: #e4ae58;
	top: -27px;
	left: 0;
	font-size: 14px;
}

.az-contact-form__button {
	width: 100%;
	max-width: 300px;
	padding: 12px;
	background-color: #fff;
	font-size: 17px;
	border-radius: 9999px;
	cursor: pointer;
	border: none;
	outline: none;
	transition: .3s;
}
.az-contact-form__button:hover {
	background-color: #e4ae58;
	color: #fff;
}


.az-contact-section__bg-block {
	min-height: 300rem;
	background: url(../img/2.jpg) 200px 0 / cover;
	background-attachment: fixed;
}
@media only screen and (max-width: 1200px) {
	.az-contact-section__bg-block {
		background-position: -200px 0;
	}
}
@media only screen and (max-width: 768px) {
	.az-contact-section__bg-block {
		background-position: center;
	}
}


.az-contact-section__contacts-block-address {
	margin-bottom: 40px;
}

.az-contact-section__contacts-block-title {
	margin-bottom: 15px;
	font-size: 26px;
	font-weight: 400;
}

.az-contact-section__contacts-block-contact:not(:last-child) {
	margin-bottom: 10px;
}
.az-contact-section__contacts-block-contact:before {
	margin-right: 14px;
	font-family: FontAwesome;
	font-size: 16px;
	color: #9e9391;
}
.az-contact-section__contacts-block-contact_phone:before {
	content: "\f095";
}
.az-contact-section__contacts-block-contact_mail:before {
	content: "\f003";
}
.az-contact-section__contacts-block-contact_web:before {
	content: "\f0ac";
}

.az-contact-section__contacts-block-contact-link {
	text-decoration: none;
	color: #9e9391;
	transition: color .15s;
}
.az-contact-section__contacts-block-contact-link:hover {
	color: #e4ae58;
}


/**************************FOOTER SECTION***************************/

.az-footer__content {
	padding: calc(300rem - 160px) 35rem;
	text-align: center;
}

.az-footer__copyright {
	margin-bottom: 50px;
	color: #9e9391;
}
.az-footer__copyright-link {
	color: #e9714c;
	text-decoration: none;
}

.az-footer__soc {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.az-footer__soc-item:not(:last-child) {
	margin-right: 45rem;
}

.az-footer__soc-link {
	color: #9e9391;
	text-decoration: none;
	transition: color .15s;
}
.az-footer__soc-link:hover {
	color: #e4ae58;
}
.az-footer__soc-link:before {
	font-family: FontAwesome;
	font-size: 18px;
}
.az-footer__soc-link_facebook:before {
	content: "\f09a";
}
.az-footer__soc-link_twitter:before {
	content: "\f099";
}
.az-footer__soc-link_google:before {
	content: "\f0d5";
}
.az-footer__soc-link_drible:before {
	content: "\f17d";
}
.az-footer__soc-link_linkedin:before {
	content: "\f0e1";
}